# =========================
# OS 별 시스템 파일
# =========================
.DS_Store          # macOS
Thumbs.db          # Windows
desktop.ini        # Windows

# =========================
# Maven
# =========================
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
mvnw
mvnw.cmd
!.mvn/wrapper/maven-wrapper.jar

# =========================
# IDE 설정
# =========================

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Build tools (Gradle 등)
# =========================
build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# 환경설정 및 민감정보
# =========================
.env
application-secret.yaml
application-local.yaml

# =========================
# 기타
# =========================
*.log
*.tmp
*.bak
*.orig
